{% extends "base.html" %}
{% block lesson %}
<div class="row">
    <h6 class="subheader">Предмет: {{subject}}</h6>
    <h6 class="subheader">Тема: {{theme}}</h6>
    <h6 class="subheader">Занятие: {{lesson}}</h6>
    <h6 class="subheader">Преподователь: {{teacher}}</h6>
</div>
<hr>
<div class="row">
    <h3 class="subheader">Теоритический блок</h3>
    <div class="small-2 large-4 columns">
        <iframe width="560" height="315" src="//www.youtube.com/embed/FkX88N4pCow?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="large-6 columns">
        <h5 class="subheader">В этом уроке</h5>
        <h6 class="subheader">Сложение</h6>
        <h6 class="subheader"> Вычитание</h6>
        <h6 class="subheader"> Умножение</h6>
        <h6 class="subheader"> Деление</h6>
    </div>
</div>
<div class="row">
    <p><font size="3" face="Arial">
    <br>
        Основное предназначение арифметических операций - выполнять определенные арифметические
        действия над числовыми данными: складывать, вычитать, умножать, делить и т. д. Это означает,
        что для арифметических операций все операнды вычисляются в числовом скалярном контексте.
        При этом строки, содержащие правильные числовые литералы, автоматически будут преобразованы в
        числовые значения: если строка не содержит правильного числового литерала, то интерпретатор
        попытается выделить из нее число, начиная с левого символа, и использовать его в качестве операнда;
        если не удается выделить правильный числовой литерал, то строковый операнд принимает нулевое значение.
        Операции выполнения основных арифметических действий являются бинарными,
        так как для их выполнения требуется два операнда. Все, сказанное о преобразовании строк в числа, относится именно
        к таким операциям.
        В языке определены также унарные арифметические операции: унарный плюс
        (+) и минус (-), а также операции автоматического увеличения (++) и уменьшения
        (--) значения операнда на единицу. Для операндов таких операций создается скалярный
        контекст, но результаты их выполнения для числовых и скалярных величин определяются совершенно разными алгоритмами.
    </font></p>
</div>
<hr>
<div class="row">
    <h3 class="subheader">Практический блок</h3>
</div>
{% endblock %}


